.main_side_section {
  /* width: 60%; */
  width: 60%;
  margin-top: 30px;
  /* background-color: aquamarine; */
}
.main_side_contanier {
  /* width: 680px; */
}
.post_wrapper_main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.noPost {
  margin-top: 20px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
.main_side_wrapper {
  width: 550px;
  /* padding: 30px; */
  /* padding-top: 30px; */
  margin: 0 !important;
}
@media screen and (max-width: 900px) {
  /* .main_side_contanier {
    width: 300px;
  } */
  .post_wrapper_main {
    width: 100%;
  }
  .main_side_wrapper {
    width: 100%;
  }
  .main_side_section {
    width: 440px;
  }
}

@media screen and (max-width: 648px) {
  .main_side_contanier {
    width: 110px;
  }
  .main_side_section {
    width: 310px;
  }
}
