.main_side_section {
  /* width: 60%; */
  width: 100%;
  height: 1900px;
  background-color: aquamarine;
}
.main_side_contanier {
  /* width: 680px; */
}

@media screen and (max-width: 900px) {
  .main_side_contanier {
    width: 300px;
  }
}

@media screen and (max-width: 648px) {
  .main_side_contanier {
    width: 200px;
  }
}
